body {
   margin: 0;
   max-width: 1440px;
}
    
/* Стилізація навігації */
header {
  max-width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background: var(--main-2, #343A40);
  justify-content: space-between;
  /* padding: 30px 37px 19.4px 38px; */
}

.logo {
    /* text-align: center; */
    display: flex;
    width: 110px;
    height: 19px;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 4%;
    /* position: relative; */
  }
  
.logo img {
    width: 35px;
    height: 18.594px;
    flex-shrink: 0;
    left: 33px;
    position: absolute;
    margin-left: 4%;
    /* margin: 30px 37px 0px 38px; */
}
.logo p {
    color: #FFF;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* position: absolute;
    top: -4px; */
    
}
  
  input[type="text"] {
    width: 530px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px 0px 0px 5px;
    background: #FFF;
    box-sizing: border-box;
  }
 
  .find {
    width: 73px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    margin-right: 29%;
  }

  .find img {
    cursor: pointer;
  }

  .change-temp {
    padding-top: 2%;
    display: flex;
    background: #ffffff;
    width: 170px;
    align-items: center;
    height: 36px;
    border-radius: 5px;
    flex-direction: column;
    flex-shrink: 0;
    color: #343A40;
    text-align: center;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 70px;
    box-sizing: border-box;
  }
  /* Стилізація секції з поточною погодою */
  .current-weather {
    display: flex;
    
    max-width: 1440px;
    height: auto;
    margin: 6% 2% 5% 1%;
    flex-shrink: 0;
    align-items: center;
    
  }

  .city-find {
    width: 256px;
    height: 177px;
    flex-shrink: 0;
    margin: 10% 7% 116px 7%;
  }

  .city-name {
    color: var(--main-2, #343A40);
    font-size: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .day-time {
    color: rgba(52, 58, 64, 0.90);
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* Стилі для дня та часу */
  }
  
  .temperature {
    color: var(--main-2, #343A40);
    font-size: 96px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* Стилі для температури */
  }
  
  .hourly-forecast {
    display: flex;
    display: inline-flex;
    align-items: flex-start;
    gap: 105px;
    flex-wrap: wrap;
    /* Стилі для блоку з годинним прогнозом */
  }
  
  .forecast-block {
    width: 87px;
    height: 161px;
    /* Стилі для блоку прогнозу на певну годину */
  }
  
  .forecast-block .time {
    color: rgba(52, 58, 64, 0.80);
    text-align: center;
    font-size: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* Стилі для часу */
  }
  
  .forecast-block .weather-icon {
    width: 59px;
    height: 55.389px;
    flex-shrink: 0;
    margin-left: 15%;
    /* Стилі для іконки погоди */
  }
  
  .forecast-block .temperature-for-day {
    color: var(--main-2, #343A40);
    text-align: center;
    font-size: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* Стилі для температури */
  }
  
  /* Стилізація секції з додатковою інформацією */
  .additional-info {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    min-height: 178px;
    flex-shrink: 1;
    position: relative;
    background: var(--main-2, #343A40);
  }

  .additional-info h3 {
    color: #fcfcfc;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 15px;
    position: absolute;
    align-self: flex-start;
    /* top: 22px; */
  }

  .weather-info {
    
    /* background-color: #361919; */
    height: auto;
    margin-left: 135px;
    margin-top: 50px;
    display: flex;
    display: inline-flex;
    align-items:center;
    gap: 30px 100px;
    flex-wrap: wrap;
    /* box-sizing:content-box; */
    /* margin: 57px 135px 57px 135px; */
    /* Стилі для інформації про погоду */
  }

  .weather-info div {
    /* background: #ca1313; */
    /* margin-right: 55px; */
    box-sizing: content-box;
    text-align: center;
  }

  .info-label {
    color: rgba(22, 21, 21, 0.8);
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .info-value {
    color: #FFF;
    font-size: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* margin-top: 90%; */
  }
  
  /* Стилізація секції з таблицею прогнозу */
  .forecast-table {
    max-width: 1440px;
    height: 528px;
    flex-shrink: 0;
    
  }

  .forecast-options {
    margin-top: 6%;
    /* Стилі для блоку з вибором опцій прогнозу */
  }

  .forecast-options button {
    border: none;
    margin-right: 2%;
    background: none;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 20px;
    color: var(--main-2, #343A40);
  }
  
  .table {
    margin: auto;
    margin-top: 5%;
    margin-left: 8%;
    padding: 0px 15px;
    width: 83%;
    border-collapse: collapse;
    /* Стилі для таблиці */
  }

  .table th,
  .table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px #696969 solid;
  }

  .table td {
    color: #000;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .table th {
    color: var(--main-2-edit, rgba(52, 58, 64, 0.80));
    font-size: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  @media (max-width: 1200px) {
    header {
      width: 100%;
    } 

    .logo {
      width: 110px;
      height: 38px;
      top: 26px;
      left: 34px;
      
    }

    input[type="text"] {
      width: 348px;
      height: 40px;
      top: 30px;
      left: 198px;
      border-radius: 5px 0px 0px 5px;

    }

    .forecast-table {
      max-width: 100%;
      height: 480px;
    }
  
    .table {
      margin-left: 0;
      width: 100%;
    }

    /* .additional-info {
      max-height: 312px;
      
    }
  
    .weather-info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      
      gap: 20px;
      width: 100%;
      margin-left: 50px;
      margin-top: 100px;
    }

    .weather-info > div {
      margin-right: 50px;
      margin-bottom: 10px; Відступ між елементами в контейнері
    }

    visibility,
    .pressure {
      margin-left: 100px;
    }  */
  
    /* .info-label {
      font-size: 16px;
    }
  
    .info-value {
      font-size: 20px;
    } */

  }
  
  /* Для максимальної ширини екрану 998px і менше */
  @media (max-width: 998px) {
  /* Зменшуємо ширину заголовка */
  header {
    width: 100%;
  }

  /* Зменшуємо ширину поля вводу */
  input[type="text"] {
    width: 250px;
  }
}

@media (max-width: 768px) {
  /* .visibility,
  .pressure {
    margin-left: 55px;
  } */
  /* .weather-info > div:nth-child(4) {
    margin-left: 55px;
    
  } */
  
}

/* Для максимальної ширини екрану 768px і менше */
@media (max-width: 768px) {
  /* Зменшуємо ширину заголовка */
  header {
    max-width: 100%;
  }

  /* Зменшуємо ширину поля вводу */
  input[type="text"] {
    width: 200px;
  }

  /* Приховуємо елемент change-temp */
  .change-temp {
    display: none;
  }

  .forecast-options {
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    /* flex-direction: column;
    align-items: center; */
  }

  

  .table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 16px;
  }

  .table th,
  .table td {
    padding: 8px;
    font-size: 14px;
  }

  .table th {
    font-size: 18px;
    line-height: normal;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .hourly-forecast {
    gap: 57px;
    flex-wrap: wrap;
    /* Стилі для блоку з годинним прогнозом */
  }
  
  .forecast-block {
    width: 77px;
    height: 151px;
    /* Стилі для блоку прогнозу на певну годину */
  }

  

  /* .additional-info h3 {
    top: auto;
    bottom: -20px;
    left: 15px;
    font-size: 16px;
  }

  .weather-info {
    margin-top: 20px;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    padding-bottom: 20px;
  }

  .info-label {
    font-size: 14px;
    text-align: center;
  }

  .info-value {
    font-size: 18px;
    text-align: center;
  } */
}

/* Для максимальної ширини екрану 576px і менше */
@media (max-width: 576px) {
   /* Зменшуємо ширину заголовка */
   header {
     width: 100%;
   }

   /* Зменшуємо ширину поля вводу */
   input[type="text"] {
     width: 150px;
   }

   /* Приховуємо елемент change-temp */
   .change-temp {
     display: none;
   }

   /* Переставляємо елементи в стовпчик */
   header {
     flex-direction: column;
     height: auto;
   }

   .logo {
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     margin-bottom: 10px;
   }

   .find {
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     margin-bottom: 10px;
   }

   .forecast-options button {
    margin-right: 0;
    margin-bottom: 2%;
  }

  .current-weather {
    margin-left: 15%;
    flex-wrap: wrap;
  }
}